*{
padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    width:100%;
    margin: 0 auto;
}

#container-nav{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: 1px solid grey; */

}

#container-search{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: 1px solid grey; */
}

#container-logo{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid grey; */
}

#container-cart-register{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid grey; */
}

.barra{  width:90%;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    text-align: center;
overflow: hidden;}

h4{
    float:left;
    width: 14%;
    height: 50px;
    text-align: center;
    font-weight: lighter;
    font-size: 10px;
    padding: auto;
    padding-top: 20px;

}

 .destacadas   img {width:100%;
        height:50vh;
        margin:0 auto;
        border-top: solid 2px black;
    }
h3{
    margin-top: 30px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgrey;
    font-size: 30px;
}
    .best-seller{
        margin-top:20px;
        width: 90%;
        margin:auto;
        overflow: hidden;
    }
    .best-seller h4 {
        float:left;
    }
   
    .best-seller img {
        margin-top: 20px;
        width: 21%;
        height: 210px;
        margin-left: 15px;
        float:left;
        border: solid 1px lightgrey;
        box-sizing: border-box;
        box-shadow: 5px 5px 10px 0px grey;
        border-radius: 3px;
    }

    .ofertas{
        overflow: hidden;
        margin-top:20px;
        width: 90%;
        margin: auto;
    }
    .ofertas img {
        margin-top: 20px;
        margin-left: 10px;
        width: 210px;
        height: 210px;
        float:left;
        border: solid 1px black;
        box-sizing: border-box;}
footer{
    margin-top: 30px;
    border-top: solid 1px grey;
}
.contacto h3{
    font-size: 24px;
    color: blue;
    margin-top: 5px;
}