<form method='POST' action='/products/create' enctype="multipart/form-data" id='addProductForm'>
    <div class="mayor-detalle">
       <input type="file" name="image" class="card-img-top col-sm-12 col-md-2 sub-grupos" id='imagen' value=''>

      <div class="col-sm-12 col-md-2 sub-grupos">
        <input type="text" placeholder="Nombre del Producto" class="form-control sizeinputs" name="name" id="productName"><i class="i-blank"></i>
      <div>
        <input type="text" placeholder="Descripción del producto" class="form-control sizeinputs" name="description">
      </div>
    </div>
        <div class="col-sm-12 col-md-2 sub-grupos"><input type="text" placeholder="Código SKU" class="sizeinputs border-inputs" name="SKU-Code"></div>
      
                      <div class="input-group mb-3 col-sm-12 col-md-2 sub-grupos">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="price" placeholder="Precio del producto" >
                        </div>
                        <div class="input-group mb-3 col-sm-12 col-md-2">
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"placeholder="Cantidad de productos" >
                        </div>
                  <div class="col-sm-12 col-md-2 sub-grupos">
                      <button class="btn btn-primary" name="submit" id='sendInformation'>+ADD TO INVENTARY</button>
              </div>
          </div>
</div>
</div>
</form>

 <!-- Optional JavaScript -->
 <script src='/validFrontAdd.js'></script>
