<%- include('head.ejs')%>

<!-- Footer -->
<footer class="page-footer font-small pt-4">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <a href="/" class="navbar-brand mx-auto d-block">
            <img class="logo" src="/images/loguito2.png"></a>
          <p>"Somos más que productos. Vendemos buenos momentos"</p>
  
              <!-- Social buttons -->
    
              <ul class="list-unstyled list-inline mx-auto">
                <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank" class="btn-floating mx-1"><i class="fa fa-facebook-f"> </i></a></li>
            
                <li class="list-inline-item"><a href="https://twitter.com/?lang=es" target="_blank" class="btn-floating mx-1"><i class="fa fa-twitter"> </i></a></li>
                
                <li class="list-inline-item"><a href="https://www.instagram.com/?hl=es-la" target="_blank" class="btn-floating mx-1"><i class="fa fa-instagram"></i></a></li>
                
                <li class="list-inline-item"><a href="https://ar.linkedin.com/" target="_blank" class="btn-floating mx-1"><i class="fa fa-linkedin"></i></a></li>
                
                <li class="list-inline-item"><a href="https://store.steampowered.com/?l=spanish" target="_blank" class="btn-floating mx-1"><i class="fa fa-steam"></i></a></li>
              </ul>
    <!-- Social buttons -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/niqosanz/grupo_6_gametech"target="_blank">Grupo 6</a>
    </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Shopping online</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://www.correoargentino.com.ar/formularios/ondnc"  target="_blank">Order Status</a>
            </li>
            <li>
              <a href="https://www.correoargentino.com.ar/formularios/ondnc"  target="_blank">Shopping and Delivery</a>
            </li>
            <li>
              <a href="/faq">Faq</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Information</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://www.ohgiftcard.com.ar/">Giftcards</a>
            </li>

            <li>
              <a href="/register">Become a member</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact us</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="mailto:Gamtech@gmail.com" target="_blank">Gamtech@gmail.com</a>
            </li>
            <li>
              <a>0800-333-4269</a>
            </li>
            <li>
              <a>CalleFalsa123 - CABA</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->