<!-- Aca empieza el navbar  -->

  <nav class="navbar navbar-light navbar-expand-md bg-white justify-content-between">
    <div class="flex-fill flex-column"> <!-- se usa flex para poder usar dos lineas de navs -->

      <div class="container-fluid "> <!-- primernav, con el order se la da la posicion a cada item  -->
        <a href="/" class="navbar-brand mx-auto d-block order-0 order-md-0 ">
          <img class="logo" src="/images/loguito2.png">
        </a>

        <button class="navbar-toggler ocultar-md" type="button" data-toggle="collapse" data-target=".navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>


        <div class="navbar-collapse collapse navbarText w-50 order-1 order-md-1 ">
          <form class="ml-3 my-auto d-inline w-50">
            <div class="bg-withe rounded border rounded-pill">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button id="button-addon2" type="submit" class="btn btn-link text-dark"><i
                      class="fa fa-search"></i></button>
                </div>
                <input type="search" placeholder="Buscar" aria-describedby="button-addon2">
              </div>
            </div>

          </form>
        </div>

        <div class="collapse navbar-collapse order-2 navbarText">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-shopping-cart"></i></a></li>

            <% if(usuario != '') {%>
              <li class="nav-item"><a class="nav-link" href=""><%= usuario %></a></li>
            <% }else { %>
              <li class="nav-item"><a class="nav-link" href="/login"><i class="fa fa-user"></i></a></li>

            <% } %>
          </ul>
        </div>

      </div>

      <!-- Aca empieza el segundo navbar  -->
      <nav class="collapse navbar-collapse navbarText navbar navbar-light navbar-expand-md bg-white justify-content-between ">
        <ul class="container-fluid navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% for(let i = 0; i<categorias.length; i++){ %>
                <a class="dropdown-item" href="/products/categories/<%= categorias[i].id %>"><%= categorias[i].name %></a>

                <% } %>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accesorios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Juegos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Proximamente
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>

          <a href="#" class="badge badge-pill badge-dark">Sell with us</a>

        </ul>
      </nav>
    </div>
  </nav>
