   
   <div id="page-wrapper">

            <div id="page-container">

                <div id="main-container">

                    <div id="page-content">
                        <div class="content-header">
                            <ul class="nav-horizontal text-center">
                                <li>
                                    <a href="/"><i class="fa fa-bar-chart"></i> Home</a>
                                </li>
                                <li class="active">
                                    <a href="/admin"><i class="fa fa-shopping-bag"></i> Productos</a>
                                </li>
                                <li >
                                    <a href="/products/create"><i class="fa fa-plus"></i> Crear Producto</a>
                                </li>
                            </ul>
                        </div>

                        <div class="row text-center">
                            <div class="col-sm-6 col-lg-6">
                                <a href="/products/create" class="widget widget-hover-effect2">
                                    <div class="widget-extra themed-background-success">
                                        <h4 class="widget-content-light"><strong>Crear</strong> Producto</h4>
                                    </div>
                                    <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-plus"></i></span></div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <a href="javascript:void(0)" class="widget widget-hover-effect2">
                                    <div class="widget-extra themed-background-dark">
                                        <h4 class="widget-content-light"><strong>Total</strong> Productos</h4>
                                    </div>
                                    <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">4.982</span></div>
                                </a>
                            </div>
                        </div>
                        <!-- END Quick Stats -->

                        <!-- All Products Block -->
                        <div class="block full">
                            <!-- All Products Title -->
                            <div class="block-title">
                                <h2><strong>All</strong> Products</h2>
                            </div>
                            <!-- END All Products Title -->

                            <!-- All Products Content -->
                            <table id="ecom-products" class="table table-bordered table-striped table-vcenter">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 70px;">ID</th>
                                        <th>Nombre Producto</th>
                                        <th class="text-right hidden-xs">Precio</th>
                                        <th class="hidden-xs">Categoria</th>
                                        <th class="hidden-xs text-center">Creado</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8789</strong></a></td>
                                        <td><a href="page_ecom_product_edit.html">Product #89</a></td>
                                        <td class="text-right hidden-xs"><strong>$739,00</strong></td>
                                        <td class="hidden-xs">
                                            <span class="label label-success">Available (5)</span>
                                        </td>
                                        <td class="hidden-xs text-center">16/04/2014</td>
                                        <td class="text-center">
                                            <div class="btn-group btn-group-xs">
                                                <a href="page_ecom_product_edit.html" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8788</strong></a></td>
                                        <td><a href="page_ecom_product_edit.html">Product #88</a></td>
                                        <td class="text-right hidden-xs"><strong>$564,00</strong></td>
                                        <td class="hidden-xs">
                                            <span class="label label-danger">Out of Stock</span>
                                        </td>
                                        <td class="hidden-xs text-center">06/07/2014</td>
                                        <td class="text-center">
                                            <div class="btn-group btn-group-xs">
                                                <a href="page_ecom_product_edit.html" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <!-- END All Products Content -->
                        </div>
                        <!-- END All Products Block -->
                    </div>
                    <!-- END Page Content -->

                    <!-- Footer -->
                    <!-- END Footer -->
                </div>
                <!-- END Main Container -->
            </div>
        </div>
