<!doctype html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <%- include('./partials/productSt')%>
  <link rel="stylesheet" href="/stylesheets/bootstrapcf.css">
  <link rel="stylesheet" href="/stylesheets/productAdd.css">
  
</head>
<body>
    <%- include('./partials/header')%>


<div id="page-container">

    <section class="site-section site-section-light">
        <div class="container">
            <h1 class="text-center"><i class="fa fa-envelope"></i> <strong>Contactenos</strong></h1>
            <h2 class="h3 text-center">
                ¡Estaremos encantados de responder todas sus preguntas y trabajar juntos!</h2>
        </div>
    </section>

    <section class="site-content site-section">

        
        <div class="container">
            <div class="row row-items text-center">
                <div class="site-block">
                        <h3 class="h2 site-heading"><strong>Game</strong>Tech</h3>
                        <address>
                            Address<br>
                            CalleFalsa123 - CABA<br>
                            Region, Zip/Postal Code<br><br>
                            <i class="fa fa-phone"></i> 0800-333-4269<br>
                            <i class="fa fa-envelope-o"></i> <a href="mailto:Gamtech@gmail.com" target="_blank">Gamtech@gmail.com</a>
                        </address>
<br>
                        <h3 class="h2 site-heading"><strong>About</strong> Us</h3>
                        <p class="remove-margin">
                            In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.
                        </p>
                    </div>        
            </div>
        </div>
    </section>
    <section class="site-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13136.066850016401!2d-58.3815704!3d-34.6037389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1596239313729!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

</div>


   
<%- include('./partials/footer')%>      

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>