<!doctype html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/header')%>
  <link rel="stylesheet" href="/stylesheets/bootstrapcf.css">
<!-- <link rel="stylesheet" href="/stylesheets/bootstrap-rap.css"> -->
<link rel="stylesheet" href="/stylesheets/productAdd.css">
<link src="../validFrontAdd.js">

  <div id="page-content">
    <!-- Intro -->
    <section class="site-section site-section-light site-section-top themed-background-dark">
        <div class="container text-center">
            <h1 class="animation-slideDown"><i class="fa fa-shopping-cart"></i> <strong>Nuestro Carito</strong></h1>
        </div>
    </section>
    <!-- END Intro -->

    <!-- Shopping Cart -->
    <section class="site-content site-section">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-vcenter">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th class="text-center">QTY</th>
                            <th class="text-right">Unit Price</th>
                            <th class="text-right">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 200px;">
                                <img src="img/placeholders/photos/photo35.jpg" alt="" style="width: 180px;">
                            </td>
                            <td>
                                <strong>PID.8799</strong><br>
                                Super Laptop 11'<br>
                                <strong class="text-success">In stock</strong> - 24h Delivery
                            </td>
                            <td class="text-center">
                                <strong>1</strong>
                                <a href="javascript:void(0)" class="btn btn-xs btn-success" data-toggle="tooltip" title="Add"><i class="fa fa-plus"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger" data-toggle="tooltip" title="Remove"><i class="fa fa-minus"></i></a>
                            </td>
                            <td class="text-right">$799,00</td>
                            <td class="text-right"><strong>$799,00</strong></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right h4"><strong>Sub Total</strong></td>
                            <td class="text-right h4"><strong>$907,00</strong></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right h4"><strong>VAT (20%)</strong></td>
                            <td class="text-right h4"><strong>$181,40</strong></td>
                        </tr>
                        <tr class="active">
                            <td colspan="4" class="text-right text-uppercase h4"><strong>Total Price</strong></td>
                            <td class="text-right text-success h4"><strong>$1088,40</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-7 col-md-3">
                    <a href="ecom_product_list.html" class="btn btn-block btn-primary">Continue Shopping</a>
                </div>
                <div class="col-xs-5 col-md-3 col-md-offset-6">
                    <a href=ecom_checkout.html class="btn btn-block btn-danger">Checkout</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END Shopping Cart -->
</div>

  <!-- <section class="pt-5 pb-5">
    <div class="container">

      <div class="row w-100">
          <div class="col-lg-12 col-md-12 col-12">
              <h3 class="mb-2 text-center">Mi carrito</h3>
              <p class="mb-5 text-center">
                  <i class="text-info font-weight-bold">1</i> items en el carrito</p>
           
                  <table class="table table-condensed table-responsive">

                  <tbody>

                      <tr>
                          <td>
                              <div class="row">
                                  <div class="col-md-3 text-left">
                                      <img src="images/retroboych.png" alt="" class="img-fluid d-none d-md-block rounded mb-2">
                                  </div>
                                  <div class="col-md-9 text-left mt-sm-2">
                                      <h4>Producto</h4>
                                      <p class="font-weight-light">Especific</p>
                                  </div>
                              </div>
                          </td>

                          <td>$99.00</td>
                          <td>
                              <input type="number" class="form-control form-control-lg text-center" value="1">
                          </td>

                          <td>
                              <div class="text-right">
                                  <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                      <i class="fa fa-trash"></i>
                                  </button>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="row">
                                  <div class="col-md-3 text-left">
                                      <img src="images/retroboych.png" alt="" class="img-fluid d-none d-md-block rounded mb-2">
                                  </div>
                                  <div class="col-md-9 text-left mt-sm-2">
                                      <h4>Producto</h4>
                                      <p class="font-weight-light">Especific</p>
                                  </div>
                              </div>
                          </td>

                          <td>$99.00</td>
                          <td>
                              <input type="number" class="form-control form-control-lg text-center" value="1">
                          </td>

                          <td>
                              <div class="text-right">
                                  <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                      <i class="fa fa-trash"></i>
                                  </button>
                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img src="images/retroboych.png" alt="" class="img-fluid d-none d-md-block rounded mb-2">
                                </div>
                                <div class="col-md-9 text-left mt-sm-2">
                                    <h4>Producto</h4>
                                    <p class="font-weight-light">Especific</p>
                                </div>
                            </div>
                        </td>

                        <td>$99.00</td>
                        <td>
                            <input type="number" class="form-control form-control-lg text-center" value="1">
                        </td>

                        <td>
                            <div class="text-right">
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                  </tbody>
                  
              </table>

              <div class="float-right text-right">
                  <h4>Subtotal:</h4>
                  <h1>$99.00</h1>
              </div>
          </div>
      </div>

      <div class="row mt-4 d-flex align-items-center">
          <div class="col-sm-6 order-md-2 text-right">
              <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
          </div>
          <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
              <a href="catalog.html">
                  <i class="fa fa-arrow-left mr-2"></i> Continue Shopping</a>
          </div>
      </div>
  </div>
  </section> -->


   
<%- include('./partials/footer')%>      

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>