<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="../stylesheets/register.css">

</head>
<body>


  <div id="external-container-login">
    <form action="./register" class="form-login" method="POST">
      <div id="internal-container-login">
        <h2 id="header-login">Log in</h2>
        <p id="paragraph-login">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus risus nisi, dignissim sed arcu sed</p>
        <br>
        <br>
            <div class="frame-sizeinputs">
                <input type="email" placeholder="E-mail" class="sizeinputs border-inputs" name="email"><i class="i-blank"></i>
            </div>
        <br>
        <br>
       
            <div class="frame-sizeinputs">
                <input type="password"  placeholder="Password" class="sizeinputs border-inputs" name="password"><i class="far fa-eye-slash"></i>
            </div>           
        <br>
        <br>
        <br>
        <input type="submit" id="email" value="Sign in" class="sizeinputs btn-submit">
        <br>
        <br>
        <div>
            
        </div>
        <div id="frame-member-signup">
            <a href="" class="a-member-signup">Not a member yet?</a>
            <a href="" class="a-member-signup font-signup">Sign Up</a>
        </div>
    </div>
    </form>

</div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>